@charset "utf-8";

.main-vban-wrap{
    background:url(../../../nhis/nhis/img/newimg/main/bg_visual.svg) no-repeat;
}

.main-vban-wrap .inner{
    position:relative;
}

.main-vban-wrap #main-vb-basic {
    height: 56rem;
}

.main-vban-wrap #main-vb-basic .d-auto .in{
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    padding:0;
    color:#fff;
    background:none;
}

.main-vban-wrap #main-vb-basic .d-auto .in p{
    margin-top:12rem;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 72px */
}
.main-vban-wrap #main-vb-basic .d-auto .in span{
    display:block;
    margin-bottom:-0.6rem;
    font-size:2rem;
    font-weight:700;
}

.main-vban-wrap #main-vb-basic .d-auto .in p em{
    font-weight:700;
}

.main-box-responsive {
    display: grid;
    grid-template-columns: 1fr 41rem;
    grid-gap: var(--krds-spacer-6);
}

.main-box-responsive > div {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
}

.main-box-responsive .d-auto {
    flex: 1;
}

.main-vban-wrap .main-box-responsive .d-fix {
    position:absolute;
    top:50%;
    right:0;
    width: 41rem;
    height:38.2rem;
    padding: 40px 32px;
    border-radius: 12px;
    background: rgba(244, 245, 250, 0.60);
    transform:translate(0,-50%);
}

.main-vban-wrap .main-box-responsive .in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    width:100%;
}

.main-vban-wrap .main-box-responsive .in .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    width:100%;
    color: var(--gray-gray-90, #1D1D1D);
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 28.5px */
}

.main-vban-wrap .main-box-responsive .in .login .btn-group{
    width:100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.main-vban-wrap .main-box-responsive .in .login .btn-group button{
    display: flex;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 8px;
    background:#545772;
    color:#fff;
}

.main-vban-wrap .main-box-responsive .in .login > span{
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.main-vban-wrap .main-box-responsive .in .login > span em{
    color: #1d1d1d;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 37.5px */
}

.main-vban-wrap .main-box-responsive .in .login .btn-group button:first-child{
    background:#e00e00;
}

.main-vban-wrap .main-box-responsive .in .menu{
    width:100%;
}

.main-vban-wrap .main-box-responsive .in .menu ul{
    display:flex;
    flex-direction: column;
    gap:8px;
    width:100%;
}

.main-vban-wrap .main-box-responsive .in .menu li a{
    display: flex;
    width:100%;
    height:auto;
    padding: 12px 16px !important;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: #FFF;
    color:#1d1d1d;
}

.main-vban-wrap .main-box-responsive .in .menu li a span{
    display: flex;
    align-items: center;
    gap: 8px;
}

.main-vban-wrap .main-box-responsive .in .menu li a em{
    font-weight:700;
}

.news_group .main-box-responsive,
.marketing_group .main-box-responsive{
    display: grid;
    grid-template-columns: 1fr 41rem;
    grid-gap: var(--krds-spacer-6);
}

.news_group .main-box-responsive > div,
.marketing_group .main-box-responsive > div {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
}

.news_group .main-box-responsive .d-auto,
.marketing_group .main-box-responsive .d-auto {
    flex: 1;
}

.news_group .main-box-responsive .d-fix,
.marketing_group .main-box-responsive .d-fix {
    width: 41rem;
}

.news_group .main-box-responsive .in,
.marketing_group .main-box-responsive .in {
    height: 100%;
    border-radius: var(--krds-rd-12);
    background-color: var(--krds-secondary-5);
}

.news_group .main-box-responsive .d-auto .in{
    padding: var(--krds-spacer-8);
}

.news_group .main-box-responsive .d-fix,
.marketing_group .main-box-responsive .d-fix {
    width: 41rem;
}

.news_group .d-fix a img,
.marketing a img{
    width:100%;
}

#newsBanner li + li{
    margin-top:16px;
}

/* 요소 */
.main-tit-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--krds-spacer-2);
}

.main-tit-wrap .tit {
    font-size: var(--krds-fz-title-xxlg);
}

.main-tit-wrap .btn-txt {
    gap: var(--krds-spacer-1);
    height: 3.2rem;
}

.main-tit-wrap .btn-txt.ico-plus {
    margin-left: auto;
}

/* 메인section */
.main-sect {
    margin:10rem 0 12rem;
}

.main-sect .inner {
    gap: var(--krds-spacer-8);
}

.main-sect.bg {
    padding-top: var(--krds-spacer-16);
    padding-bottom: var(--krds-spacer-16);
}

.main-sect:last-child:not(.bg) {
    padding-bottom: var(--krds-spacer-16);
}

.service_group{
    overflow:hidden;
}

.service_group .ui_tabbx{
    position:relative;
}

.service_group .ui_tab{
    position:absolute;
    top:-3.7rem;
    right:0;
    border:0;
}

.service_group .ui_tab>li {
    margin-left: -25px;
    min-width: 110px
}

.service_group .ui_tab>li>a {
    text-align: center;
    color: #555;
    font-weight: 700;
    padding: 0 30px;
    line-height: 35px;
    border-radius: 35px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
}

.service_group .ui_tab>li>a:focus {
    position: relative;
    z-index: 1
}

.service_group .ui_tab>li.active>a {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #f23b3b;
    border-color: #f23b3b
}

.ui_tabbx .tab_wrapper .tab_content{
    padding:4rem 0 0 0;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li span{
    display:block;
    float:none;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul{
    display:flex;
    gap:1.6rem;
    line-height:2.5rem;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li{
    flex:1;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li.more{
    flex:unset;
    width:14rem;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li.more:after{
    display:none;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li a{
    display:flex;
    position:relative;
    height:17.8rem;
    padding:3.2rem 2.4rem 10.4rem;
    border-radius:1.6rem;
    background:#f8f8f8 url(../../../nhis/nhis/img/newimg/main/bg_arr_service.svg) no-repeat left 2.4rem bottom 5.4rem;
    background-size:2rem auto;
    font-weight:700;
    font-size:1.9rem;
    color:#1d1d1d;
    letter-spacing:-1px;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li.more a{
    align-items: flex-end;
    padding:0 0 5.85rem 0;
    background:#f8f8f8 url(../../../nhis/nhis/img/newimg/main/ico_service_more.svg) no-repeat center top 5.85rem;
    background-size:2.4rem 2.4rem;
    text-align:center;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li a span{
    flex:1;
}

.service_group .ui_tabbx .tab_wrapper .tab_content ul li a i{
    position:absolute;
    right:2.4rem;
    bottom:3.2rem;
    width:4rem;
    height:4rem;
}

.service_group .swiper-indicator{
    display:none;
}

.ico_service_01{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_01.svg);
}

.ico_service_02{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_02.svg);
}

.ico_service_03{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_03.svg);
}

.ico_service_04{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_04.svg);
}

.ico_service_05{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_05.svg);
}

.ico_service_06{
    background:url(../../../nhis/nhis/img/newimg/main/ico_service_06.svg);
}

/* 인기 검색어, 나의 맞춤 정책제도 */
.middle_group{
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    flex-direction: row;
    gap: var(--krds-spacer-6);
}

.middle_group > div:first-child.inr{
    display: flex;
    align-items: normal;
    justify-content: space-between;
    flex-direction: column;
    gap:2.5rem;
    flex: 1;
    overflow: hidden;
    position:relative;
    min-height:47.6rem;
    border:1px solid #c6c6c6;
    border-radius:12px;
    padding:4rem;
}

.middle_group > div:last-child.inr{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:4rem;
    flex-shrink: 0;
    width: 32.6562%;
    height: 51.8rem;
    padding: var(--krds-spacer-10);
    border-radius: var(--krds-rd-12);
    background-color: #f0f0f0;
}

.middle_group > .inr .title-justify{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-self: stretch;
}

.middle_group > .inr .tit{
    font-size: var(--krds-fz-title-xlg);
    font-weight: 700;
}

.middle_group > .inr .tit span{
    display:block;
    font-weight:400;
    font-size:1.7rem;
}

.middle_group > .inr .tit span a{
    font-weight:700;
    color:#1d1d1d;
}

.middle_group > .inr .title-justify button:after{
    display:inline-block;
    width:2rem;
    height:2rem;
    margin-left:4px;
    background:url(../../../nhis/nhis/img/newimg/main/bg_arr_service.svg) no-repeat center;
    vertical-align:top;
    content:'';
}

.middle_group .rank{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    width:100%;
}

.middle_group .rank li {
    counter-increment:item;
}

.middle_group .rank li + li{
    margin-top:1.6rem;
}
  
.middle_group .rank li a:before {
    display: inline-flex;
    content: counter(item);
    width: 2rem;
}

.middle_group .rank li a:hover:before{
    color:#fff !important;
}

.middle_group .rank li:nth-child(1) a:before,
.middle_group .rank li:nth-child(2) a:before,
.middle_group .rank li:nth-child(3) a:before{
    color:#ef3f3e;
}

.middle_group .rank li a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 17px 16px;
    border-radius:6px;
    background:#fff;
}

.middle_group .rank li.ranking-state a:hover{
    background:#ef3f3e url(../../../nhis/nhis/img/newimg/main/ico_arr_more_white.svg) no-repeat right 16px center;
    color:#fff;
}

.middle_group .rank li.ranking-state a:hover:after{
    color:#fff;
}

.middle_group .rank li.ranking-state a:hover span.number{
    display:none;
}

.middle_group .rank li.ranking-state a span.ranking-txt{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width:calc(100% - 5.2rem);
    font-size:1.5rem;
}

.middle_group .rank li.ranking-state a span.number{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;
    padding:3px 8px;
    gap: 0.4rem;
    font-size: 1.3rem;
    min-width: 3.8rem;
    border-radius:10px;
    line-height:1.9rem;
    color:#1d1d1d;
}

.middle_group .rank li.ranking-state a span.number:after{
    width: 0;
    height: 0;
    display: inline-flex;
    content: "";
}

.middle_group .rank li.ranking-state.up a span.number:after{
    border-bottom: 0.6rem solid var(--krds-danger);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
}

.middle_group .rank li.ranking-state.down a span.number:after{
    border-top: 0.6rem solid var(--krds-information);
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
}

.middle_group .rank + .tit{
    margin-top:1.3rem;
}

.middle_group .swiper{
    overflow:hidden;
}

.middle_group .swiper-indicator{
    justify-content: center;
}

.middle_group .swiper-pagination{
    border:1px solid #e4e4e4;
    border-radius:4rem;
    font-size:1.7rem;
}

.middle_group .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current{
    color:var(--krds-danger);
}

.middle_group .d-card {
    gap: var(--krds-spacer-10);
}

.middle_group .d-card .im {
    flex-shrink: 0;
    width:17.8rem;
    height: 12rem;
    margin:0 auto;
}

.middle_group .d-card .im.i1{
    background:url(../../../nhis/nhis/img/newimg/main/bg_card_01.svg) no-repeat top center;
}

.middle_group .d-card .im.i2{
    background:url(../../../nhis/nhis/img/newimg/main/bg_card_02.svg) no-repeat top center;
}

.middle_group .d-card .im.i3{
    background:url(../../../nhis/nhis/img/newimg/main/bg_card_03.svg) no-repeat top center;
}

.middle_group .d-card{
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    color:#1d1d1d;
}

.middle_group .d-card .in {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
}

.middle_group .d-card .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.middle_group .d-card .c-tit {
    font-size: var(--krds-fz-title-md);
    font-weight: 700;
    line-height: 1.1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.middle_group .d-card .c-txt {
    color: #555;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 25.5px */
}

.middle_group .d-card .c-btn {
    margin-top: auto;
}

.middle_group .d-card .c-btn span:hover{
    background:transparent;
}

.d-card.d-row {
    flex-direction: row;
}

.middle_group .d-card.line {
    padding: var(--krds-spacer-6);
    border-radius: var(--krds-rd-12);
    border: 0.1rem solid var(--krds-gray-40);
}

.middle_group .d-card.line .c-btn {
    text-align: right;
}

.middle_group .d-card.fill {
    padding: var(--krds-spacer-6);
    border-radius: var(--krds-rd-12);
    background-color: var(--krds-secondary-5);
}

.middle_group .d-card.fill .c-btn {
    text-align: right;
}

.middle_group .d-card.d-responsive {
    flex-direction: row;
    min-height: 32.2rem;
}
  
.middle_group .d-card.d-responsive .im {
    flex-shrink: 0;
    width: 41rem;
    height: 100%;
    overflow: hidden;
}

.middle_group .d-card.d-responsive .im img {
    height: 100%;
    max-width: inherit;
    min-width: 100%;
    min-height: 100%;
}

.middle_group .d-card.d-responsive .in .c-tit {
    font-size: var(--krds-fz-heading-sm);
}

.middle_group .d-card.d-responsive .in .c-btn {
    margin-top: inherit;
}

.middle_group .d-card.d-responsive:not(.line) .im {
    border-radius: var(--krds-rd-12);
}

.middle_group .d-card.d-responsive:not(.line) .im img {
    width: 100%;
    min-width: inherit;
    min-height: 100%;
    height: auto;
}

.middle_group .d-card.d-responsive:not(.line) .in {
    padding: var(--krds-spacer-6) var(--krds-spacer-10);
}

.middle_group .d-card.d-responsive:not(.line) .in .c-tit {
    line-height: 1.5;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.middle_group .d-card.d-responsive.line {
    min-height: 27.4rem;
    padding: 0;
}

.middle_group .d-card.d-responsive.line .im {
    width: 40rem;
    height: 27.2rem;
}

.middle_group .d-card.d-responsive.line .in {
    gap: var(--krds-spacer-10);
    padding: var(--krds-spacer-6) var(--krds-spacer-8);
}

.middle_group .d-card.d-responsive.line .in .c-tit {
    font-size: var(--krds-fz-title-md);
}

.middle_group .swiper li a{
    display: flex;
    flex-direction: row;
    height:31rem;
    padding: 32px 32px 24px 32px;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    border-radius: 12px;
    background:#F8F8F8;
}

.middle_group .swiper li a:hover{
    padding:3.2rem;
    border:1px solid #545772;
    border-radius:1.2rem;
}

.middle_group .swiper li a:hover > .d-card{
    display:none;
}

.middle_group .swiper li a:hover .d-card-hover{
    display:block;
    width:100%;
    height:100%;
}

.middle_group .swiper li a .d-card-hover{
    display:none;
}

.middle_group .swiper li a .d-card-hover .d-card{
    gap:unset;
}

.middle_group .swiper li a .d-card-hover .d-card .c-badge .krds-badge.primary{
    background:#fef1f1;
    color:#e00e00;
}

.middle_group .swiper li a .d-card-hover .d-card .c-tit{
    margin:2.4rem 0 1rem 0;
}

.middle_group .swiper li a .d-card-hover .d-card .more{
    display:inline-flex;
    flex:1;
    width:100%;
    height:100%;
    align-items:flex-end;
    font-size:1.7rem;
    color:#fff;
}

.middle_group .swiper li a .d-card-hover .d-card .more em{
    display:flex;
    gap:0.5rem;
    width:100%;
    height:4.8rem;
    border-radius:12px;
    background:#545772;
    justify-content:center;
    align-items:center;
}

.middle_group .swiper li a .d-card-hover .d-card .more em:after{
    width:20px;
    height:20px;
    background:url(../../../nhis/nhis/img/newimg/main/ico_arr_more_white.svg) no-repeat;
    content:'';
}

.middle_group .chip{
    display:inline-block;
    overflow:hidden;
    max-width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    margin-top:-1.5rem;
}

.middle_group .chip span{
    padding-left:0;
    border:0;
    font-size:1.5rem;
    background:transparent;
}

.middle_group .chip span:hover{
    background:transparent;
}

.middle_group .inr .check-layer{
    display:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:4rem;
    background:#fff;
    z-index:10;
}

.middle_group .inr .check-layer.on{
    display:block;
    overflow:hidden;
}

.middle_group .inr .check-layer .title-justify button:after{
    margin:0;
    background:url(../../../nhis/nhis/img/newimg/main/ico-close.svg) no-repeat center;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box{
    margin-top:33px;
    padding:0;
    background:transparent;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form div{
    display:flex !important;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form > div{
    flex:1;
    overflow:hidden;
    border:1px solid #e4e4e4;
    border-radius: 12px;
    align-items:baseline;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form .card-chk-box{
    height:auto;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form .card-chk-box .form-check{
    position:relative;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form .card-chk-box.chk-row .form-check{
    width:100%;
}

.middle_group .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form .chk-area{
    overflow:auto;
    max-height:242px;
    padding:2.1rem 2.4rem !important;
}

.middle_group .inr .check-layer .btn-group{
    display: flex;
    justify-content: flex-end;
    margin-top:4rem;
    align-items: center;
    align-self: stretch;
}

.middle_group .inr .check-layer .btn-group button{
    height: 48px;
    padding: 0px 16px;
    border-radius: 8px;
    border: 1px solid #545772;
    background: #545772;
    color: var(--gray-gray-0, #FFF);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 25.5px */
}

.helpdesk_group{
    display: flex;
    max-width: 1280px;
    margin-top:2.4rem;
    padding: 40px;
    justify-content: space-between;
    border-radius: 12px;
    background: #f8f8f8;
    align-items: center;
}

.helpdesk_group > .inr{
    display:flex;
    width:100%;
}

.helpdesk_group .tit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#1d1d1d;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    width:20%;
}

.helpdesk_group .tit span{
    font-weight: 400;
    font-size: 17px;
}

.helpdesk_group ul{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
}

.helpdesk_group ul li{
    flex:1;
}

.helpdesk_group ul li a{
    display: flex;
    height: 64px !important;
    padding: 12px 24px !important;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    background:#fff !important;
    color:#1d1d1d;
}

.news_group .main-box-responsive {
    display: grid;
    grid-template-columns: 1fr 41rem;
    grid-gap: var(--krds-spacer-6);
    margin-top:2.9rem;
}

.news_group .main-box-responsive .in{
    height:39rem;
    border-radius:12px;
    background:transparent;
}

.news_group .main-box-responsive .d-auto .in{
    border:1px solid #c6c6c6;
}

.news_group .main-box-responsive .d-fix .in{
    overflow:hidden;
    position:relative;
}

.news_group .swiper{
    overflow:hidden;
    height:100%;
}

.news_group .swiper .text .cate {
    font-size: var(--krds-fz-body-sm);
    font-weight: 700;
}

.news_group .swiper .text .tit {
    font-size: var(--krds-fz-heading-sm);
    font-weight: 700;
}

.news_group .swiper .im {
    text-align: right;
}

.news_group .swiper-pagination{
    border:1px solid #e4e4e4;
    border-radius:4rem;
    background:#fff;
    font-size:1.7rem;
}

.news_group .swiper-indicator{
    position:absolute;
    right:2.4rem;
    bottom:2.4rem;
    z-index:2;
}

.news_group .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current{
    color:var(--krds-danger);
}

.news_group .more{
    display:inline-flex;
    width:4rem;
    height:4rem;
    background:url(../../../nhis/nhis/img/newimg/main/ico_more.svg);
}

.news_group .news-tbl-list {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    margin-top: auto;
}

.news_group .news-tbl-list li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: var(--krds-spacer-4);
}

.news_group .news-tbl-list li .tit {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color:#1d1d1d;
}

.news_group .news-tbl-list li .tit:hover{
    text-decoration:underline;
}

.news_group .news-tbl-list li .date {
    flex-shrink: 0;
    color: #555;
}

.news_group .tab-area {
    display:block;
    width: 100%;
}

.news_group .tab{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.news_group .tab > ul {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.news_group .tab li,
.news_group .tab .btn-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    white-space: nowrap;
}

.news_group .tab .btn-tab {
    width: 100%;
    background-color: var(--krds-white);
    border: 1px solid var(--krds-white);
    color: var(--krds-gray-70);
    font-weight: 700;
    transition: 0.4s ease-in-out;
}

.news_group .tab .btn-tab:not(:disabled):hover {
    border-radius: 0.6rem;
    background-color: var(--krds-secondary-5);
    transition: 0.4s ease-in-out;
}

.news_group .tab .btn-tab:not(:disabled):active {
    background-color: var(--krds-secondary-10);
    transition: 0.4s ease-in-out;
}

.news_group .tab .btn-tab[disabled] {
    color: var(--krds-gray-50);
    cursor: default;
}

.news_group .tab li {
    flex-grow: 0;
}

.news_group .tab.line .btn-tab {
    height: var(--krds-tab-h-line);
    padding: 0 var(--krds-tab-px-line);
    font-size: 1.9rem;
    background:transparent !important;
}

.news_group .tab.line .btn-tab:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 0.4rem;
    background-color: #ee0000;
    transition: 0.4s ease-in-out;
}

.news_group .tab.line .active .btn-tab {
    color: #ee0000;
}

.news_group .tab.line .active .btn-tab:before {
    position: absolute;
    left: 0;
    width: 100%;
}

.news_group .tab.line > ul > li + li {
    margin-left: var(--krds-tab-ml-line);
}

.news_group .tab.line.full .btn-tab {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-bottom: 2px solid var(--krds-gray-30);
}

.news_group .tab.line.full .btn-tab:before {
    bottom: -0.2rem;
    height: 0.4rem;
}

.news_group .tab.line.full .btn-tab:hover,
.news_group .tab.line.full .btn-tab:active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.news_group .tab.line.full > ul > li + li {
    margin-left: 0;
}

.news_group .tab > ul{
    flex:1;
}

.news_group .tab > .more{
    display:inline-flex;
    width:4rem;
    height:4rem;
    background:url(../../../nhis/nhis/img/newimg/main/ico_more.svg);
}

.news_group .tab-conts {
    display: none;
    margin-top: var(--krds-spacer-10);
}

.news_group .tab-conts.active {
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--krds-spacer-10);
}

.intro_group .intro_area{
    display:flex;
    justify-content:space-between;
    gap:2.4rem;
    margin-top:2.9rem;
}

.intro_group .intro_area > .inr{
    flex:1;
    height:43.4rem;
}

.intro_group .intro_area > div:first-child.inr{
    padding:4rem;
    border-radius:1.2rem;
    background:#f0f0f0 url(../../../nhis/nhis/img/newimg/main/bg_location.svg) no-repeat right 8.6rem top 9.8rem;
}

.intro_group .intro_area > div:first-child.inr h3{
    font-size:2.5rem;
    color:#1d1d1d;
}

.intro_group .intro_area > .inr > ul{
    display:flex;
    gap:0.8rem;
    height:100%;
    flex-direction:row;
    justify-content:space-between;
    align-items:end;
    padding-bottom:3.8rem;
}

.intro_group .intro_area > .inr > ul > li{
    flex:1;
}

.intro_group .intro_area > .inr > ul > li a{
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    align-items:center;
    position:relative;
    height:13rem;
    padding-top:5.6rem;
    border-radius:1.2rem;
    background:#fff;
    font-weight:700;
    font-size:1.5rem;
    color:#1d1d1d;
    text-align:center;
}

.intro_group .intro_area > .inr > ul > li a:hover{
    text-decoration:underline;
}

.intro_group .intro_area > .inr > ul > li a .iconset{
    position:absolute;
    top:2.4rem;
    left:50%;
    transform:translate(-50%,0);
    width:3.2rem;
    height:3.2rem;
}

.ico_organization{
    background:url(../../../nhis/nhis/img/newimg/main/ico_organization.svg);
}

.ico_companysearch{
    background:url(../../../nhis/nhis/img/newimg/main/ico_companysearch.svg);
}

.ico_foreigner{
    background:url(../../../nhis/nhis/img/newimg/main/ico_foreigner.svg);
}

.ico_checkup{
    background:url(../../../nhis/nhis/img/newimg/main/ico_checkup.svg);
}

.intro_group .ico_hospital{
    background:url(../../../nhis/nhis/img/newimg/main/ico_hospital.svg);
}

.intro_group .announce_area ul {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:2.4rem;
}

.intro_group .announce_area ul > li {
    width:calc(50% - 1.2rem);
    border-radius: 12px;
    border: 1px solid #C6C6C6;
    background: #FFF;
}

.intro_group .announce_area ul>li>a {
    display: block;
    height: 203px;
    padding: 2.65rem;
    line-height: 26px;
    box-sizing:border-box;
}

.intro_group .announce_area ul>li>a:hover .button-group span {
    text-decoration: underline
}

.intro_group .announce_area ul>li .category {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #1d1d1d
}

.intro_group .announce_area ul>li .tit {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: #1d1d1d
}

.intro_group .announce_area ul > li .txt {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 10px;
    font-size: 17px;
    color: #555;
    line-height:150%;
}

.intro_group .announce_area ul > li .button-group {
    margin-top: 27px;
    text-align: right
}

.intro_group .announce_area ul > li .btn{
    height:auto;
    color:#1d1d1d;
}

.intro_group .announce_area ul > li .btn:hover{
    background:transparent;
}

.intro_group .about_area{
    display:flex;
    overflow:hidden;
    height:31.2rem;
    margin-top:4rem;
    border-radius:1.2rem;
    border:1px solid #c6c6c6;
    background:#fff;
}

.intro_group .about_area .inr{
    flex:1;
}

.intro_group .about_area:after{
    width:41rem;
    height:100%;
    background:#f0f0f0 url(../../../nhis/nhis/img/newimg/main/bg_about.png) no-repeat bottom center;
    background-size: 100% auto;
    content:'';
}

.intro_group .about_area .inr{
    display:flex;
    height:100%;
    padding:4rem;
    flex-direction:column;
}

.intro_group .about_area .inr p{
    font-weight:700;
    font-size:2.5rem;
    color:#1d1d1d;
}

.intro_group .about_area .inr span{
    margin-top:1.3rem;
    font-size:1.7rem;
    color:#555;
}

.intro_group .about_area .inr .btn_group{
    display:flex;
    gap:0.8rem;
    height:100%;
    align-items:flex-end;
}

.intro_group .about_area .inr .btn_group button{
    height:4rem;
    padding:0 1.2rem;
    border-radius:6px;
    background:#545772;
    font-size:1.5rem;
    color:#fff;
}

.marketing_group .main-box-responsive{
    grid-template-columns:calc(100% - 43.4rem) 41rem !important;
    margin-top:0;
}

.marketing_group .main-box-responsive .in{
    margin-top: 2.9rem;
    background:#fff;
}

.marketing_group .main-box-responsive {
    display: grid;
    grid-template-columns: 1fr 41rem;
    grid-gap: var(--krds-spacer-6);
    margin-top:2.9rem;
}

.marketing_group .main-box-responsive .in{
    height:39rem;
    padding:0;
    border-radius:12px;
    background:transparent;
}

.marketing_group .d-auto.sns .in{
    padding:0;
}

.marketing_group .d-auto.sns .in .tab-area{
    display:flex;
    gap:2.4rem;
    height:100%;
    padding:1.6rem 0;
}

.marketing_group .d-auto.sns .in .tab-area .tab{
    width: 11.8rem;
    display: inline-flex;
}

.marketing_group .d-auto.sns .in .tab-area .tab > ul{
    display:flex;
    flex-direction: column;
    gap:2.4rem;
}

.marketing_group .d-auto.sns .in .tab-area .tab > ul > li{
    flex:unset !important;
    height:3.2rem;
}

.marketing_group .d-auto.sns .in .tab-area .tab > ul > li.active span{
    text-decoration:underline;
}

.marketing_group .d-auto.sns .in .tab-area .tab button{
    justify-content:normal;
    gap:1.2rem;
    width:11.8rem;
    height:auto;
    padding:0 !important;
    border:0;
    background:#fff;
    font-weight:400;
    font-size:1.7rem !important;
    color:#555;
    text-align:left;
}

.marketing_group .d-auto.sns .in .tab-area .tab button:before{
    display:none;
}

.marketing_group .d-auto.sns .in .tab-area .tab button .iconset{
    width:3.2rem;
    height:3.2rem;
}

.iconset.ico_youtube{
    background:url(../../../nhis/nhis/img/newimg/main/ico_youtube.svg);
}

.iconset.ico_instargram{
    background:url(../../../nhis/nhis/img/newimg/main/ico_instargram.svg);
}

.iconset.ico_facebook{
    background:url(../../../nhis/nhis/img/newimg/main/ico_facebook.svg);
}

.iconset.ico_blog{
    background:url(../../../nhis/nhis/img/newimg/main/ico_blog.svg);
}

.marketing_group .d-auto.sns .in .tab-area .tab-conts-wrap{
    display:inline-flex;
    flex:1;
    width:calc(100% - 14.3rem);
}
    
.marketing_group .tab-conts {
    display: none;
}

.marketing_group .tab-conts.active {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
}

.marketing_group .d-auto.sns .swiper{
    overflow:hidden;
    margin:0 5.6rem;
}

.marketing_group .d-auto.sns .swiper-wrapper{
    display:flex;
}

.marketing_group .d-auto.sns .swiper li{
    width:calc(50% - 1.2rem) !important;
}

.marketing_group .d-auto.sns .swiper li:nth-child(even){
    padding-top:2.4rem;
}

.marketing_group .d-auto.sns .swiper li a{
    display:flex;
    flex-direction: column;
    gap:1.4rem;
}

.marketing_group .d-auto.sns .swiper li .themb img{
    display:block;
    width:100%;
}

.marketing_group .d-auto.sns .swiper li .iconset{
    width:2rem;
    height:2rem;
    background-size:2rem 2rem;
}

.marketing_group .d-auto.sns .swiper li span{
    display:block;
}

.marketing_group .d-auto.sns .swiper li span.sns-name{
    display:flex;
    gap:0.8rem;
    font-size:1.6rem;
    color:#555;
    align-items:center;
}

.marketing_group .d-auto.sns .swiper li span.subject{
    font-weight:700;
    font-size:1.7rem;
    color:#000;
}

.marketing_group .d-auto.sns .swiper li span.sub_text{
    display:inline-block;
    overflow:hidden;
    max-width:100%;
    font-size:1.5rem;
    color:#555;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.marketing_group .d-auto.sns .swiper-indicator{
    position:static;
    justify-content:center;
    margin-top:2.4rem;
}

.marketing_group .d-auto.sns .swiper-button-prev{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.marketing_group .d-auto.sns .swiper-button-next{
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0,-50%);
}

.marketing_group .swiper-indicator .swiper-pagination:not(.swiper-pagination-fraction){
    gap:0.8rem;
}

.marketing_group .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background:#e00e00;
}

.marketing{
    text-align:center;
}

.marketing_group .d-fix.marketing .in{
    overflow:hidden;
    position:relative;
}

.marketing_group .d-fix.marketing .swiper{
    overflow:hidden;
    height:100%;
}

.marketing_group .d-fix.marketing .swiper .text .cate {
    font-size: var(--krds-fz-body-sm);
    font-weight: 700;
}

.marketing_group .d-fix.marketing .swiper .text .tit {
    font-size: var(--krds-fz-heading-sm);
    font-weight: 700;
}

.marketing_group .d-fix.marketing .swiper .im {
    position:absolute;
    right:0;
    bottom:0;
    text-align: right;
}

.marketing_group .marketing .swiper-pagination{
    border:1px solid #e4e4e4;
    border-radius:4rem;
    background:#fff;
    font-size:1.7rem;
}

.marketing_group .marketing .swiper-indicator{
    position:absolute;
    right:2.4rem;
    bottom:2.4rem;
    z-index:2;
}

.marketing_group .marketing .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current{
    color:var(--krds-danger);
}

#container > section:last-of-type{
    margin-bottom:8rem;
}

.swiper-pagination{
    width:8rem !important;
    padding:1.4rem 1.6rem;
}

.swiper-pagination-current,
.swiper-pagination-total{
    display:inline-block;
    width:22px;
    text-align:center;
}

@media(max-width:1023px) {
    .main-urgent-wrap .urgent-ban-list .urgent-ban .m-hide{
        display:none;
    }

    .main-vban-wrap{
        height:55.7rem;
        background:url(../../../nhis/nhis/img/newimg/main/bg_visual_mobile.svg) no-repeat;
        background-size: 100% auto;
    }

    .main-vban-wrap #main-vb-basic{
        display:block;
        height:55.7rem;
    }

    .main-box-responsive .d-auto{
        display:block;
        height:28rem;
    }

    .main-vban-wrap .main-box-responsive .in{
        gap:27px;
    }

    .main-vban-wrap #main-vb-basic .d-auto .in p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        margin-top:6rem;
        padding-left:2.4rem;
        font-size:25px;
    }

    .main-vban-wrap #main-vb-basic .d-auto .in span{
        font-size:1.7rem;
    }

    .main-vban-wrap .main-box-responsive .d-fix{
        top:auto;
        bottom:0;
        width:100%;
        height:27.7rem;
        padding:24px 16px;
        border-radius:0;
        background:rgba(244, 245, 250, 1);
        transform:none;
    }

    .main-vban-wrap .main-box-responsive .in .login{
        gap:24px;
    }

    .main-vban-wrap .main-box-responsive .in .login br{
        display:none;
    }

    .main-sect{
        margin:6rem 0;
        padding:0 1.6rem;
    }

    .service_group .ui_tab{
        position:relative;
        top:0;
        margin-top:25px;
        padding-left:25px;
    }

    .service_group .ui_tab>li > a{
        display: flex;
        height: 48px;
        padding: 0px 32px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size:19px;
    }

    .service_group .swiper-indicator{
        display:flex;
        margin-top:32px;
    }

    .service_group .ui_tabbx .tab_wrapper .tab_content ul{
        gap:0;
    }

    .service_group .ui_tabbx .tab_wrapper .tab_content ul li{
        flex:none;
    }

    .service_group .ui_tabbx .tab_wrapper .tab_content ul li.more{
        flex:none;
    }

    .service_group .swiper-indicator{
        justify-content: center;
    }
    
    .service_group .swiper-pagination{
        border:1px solid #e4e4e4;
        border-radius:4rem;
        font-size:1.7rem;
    }
    
    .service_group .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current{
        color:var(--krds-danger);
    }

    .middle_group{
        display:block;
    }

    .middle_group > .inr > .title-justify{
        display:block;
    }

    .middle_group > .inr .title-justify button{
        margin-top:1rem;
        padding:0;
        font-size:1.7rem;
    }

    .middle_group > div:first-child.inr{
        padding:3.2rem 2.4rem;
    }

    .middle_group > div:last-child.inr{
        width:100%;
        margin-top:2.4rem;
    }

    .middle_group .rank li.ranking-state a span.ranking-txt{
        font-size:1.7rem;
    }

    .middle_group .rank li.ranking-state a span.number{
        font-size:1.5rem;
    }

    .middle_group .inr .check-layer{
        display:unset;
        flex-direction:column;
        justify-content:space-between;
        position:fixed;
        top:100%;
        padding:3.2rem 2.4rem;
        transition:all .3s ease-in-out;
    }

    .middle_group .inr .check-layer.on{
        display:flex;
        top:0;
        z-index:100;
    }

    .middle_group > .inr .tit{
        font-size:1.7rem;
    }

    .middle_group > .inr .check-layer > .title-justify button{
        margin:0;
    }

    .middle_group > .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form{
        flex-direction:column;
    }

    .middle_group > .inr .check-layer .krds-search-top-box .sch-filter-box .filter-form .card-chk-box .chk-area{
        height:auto;
        background:unset;
    }
        
    .helpdesk_group{
        padding:3.2rem 2.4rem;
    }

    .helpdesk_group > .inr{
        display:block;
    }

    .helpdesk_group .tit{
        width:100%;
    }

    .helpdesk_group .tit span{
        margin-top:1rem;
    }

    .helpdesk_group ul{
        flex-direction:column;
        align-items:unset;
        margin-top:2.9rem;
    }

    .news_group .main-box-responsive{
        display:block;
    }

    .news_group .main-box-responsive .in,
    .marketing_group .main-box-responsive .in{
        height:auto;
    }

    .main-box-responsive .d-auto{
        height:auto;
    }

    .news_group .main-box-responsive .d-auto .in{
        padding:3.2rem 2.4rem;
    }

    .news_group .news-tbl-list{
        gap:2rem;
    }

    .news_group .tab-conts{
        margin-top:3rem;
    }

    .news_group .news-tbl-list li .tit,
    .news_group .news-tbl-list li .date{
        font-size:1.7rem;
    }

    .news_group .main-box-responsive .d-fix,
    .marketing_group .main-box-responsive .d-fix{
        width:100%;
        margin-top:2.4rem;
    }

    .intro_group .intro_area{
        display:block;
        margin-top:2.8rem;
    }

    .intro_group .intro_area > div:first-child.inr{
        padding:3.2rem 2.4rem;
        background:#f0f0f0 url(../../../nhis/nhis/img/newimg/main/bg_location.svg) no-repeat bottom right;
        background-size:11.3rem auto;
    }

    .intro_group .intro_area > .inr{
        height:auto;
    }

    .intro_group .intro_area > .inr > ul{
        flex-wrap:wrap;
        justify-content:flex-start;
        margin-top:2.7rem;
        padding:0;
    }

    .intro_group .intro_area > .inr > ul > li{
        flex:0 0 calc(33.3333% - 0.6rem);
    }

    .intro_group .intro_area > .inr > ul > li a{
        height:10.6rem;
        padding-top:4.8rem;
    }

    .intro_group .intro_area > .inr > ul > li a .iconset{
        top:1.6rem;
    }

    .intro_group .announce_area ul{
        flex-direction:column;
        margin-top:2.4rem;
    }

    .intro_group .announce_area ul li{
        width:100%;
    }

    .intro_group .announce_area ul > li > a{
        height:18.1rem;
        padding:2.4rem;
    }

    .intro_group .announce_area ul > li .button-group{
        margin-top:2rem;
    }

    .intro_group .about_area{
        flex-direction: column-reverse;
        height:auto;
    }
    
    .intro_group .about_area:after{
        width:100%;
        height:24rem;
        background-size:auto 21.6rem;
    }

    .intro_group .about_area .inr{
        padding:3.2rem 2.4rem;
    }

    .intro_group .about_area .inr .btn_group{
        margin-top:2rem;
    }

    .marketing_group{
        overflow:hidden;
    }

    .marketing_group .main-box-responsive{
        display:block;
    }

    .marketing_group .d-auto.sns .in{
        height:auto;
    }

    .marketing_group .d-auto.sns .in .tab-area{
        flex-wrap:wrap;
        flex-direction: row;
        gap:3.2rem;
    }

    .marketing_group .d-auto.sns .in .tab-area .tab{
        width:100%;
    }

    .marketing_group .d-auto.sns .in .tab-area .tab > ul{
        flex-direction: row;
        gap:1.6rem;
    }

    .marketing_group .d-auto.sns .in .tab-area .tab > ul > li{
        min-width:auto;
    }

    .marketing_group .d-auto.sns .in .tab-area .tab ul li button{
        width:auto;
        height:auto;
    }

    .marketing_group .tab-wrap .scroll-wrap .scroll-btn .btn{
        top:0;
    }

    .marketing_group .d-auto.sns .swiper{
        overflow:visible;
    }

    .marketing_group .d-auto.sns .swiper li{
        width:100% !important;
        padding:2.4rem 1.2rem;
    }

    .marketing_group .d-auto.sns .swiper li:nth-child(even){
        padding-top:0;
    }

    #container > section:last-of-type{
        margin-bottom:6.4rem;
        padding-bottom:0;
    }
}

@media (max-width: 599px) {
    .news_group .tab-conts.active {
        gap: var(--krds-spacer-8);
    }

    .news_group .tab.line > ul > li + li{
        margin-left:8px;
    }

    .news_group .tab.line .btn-tab{
        padding:0;
        font-size:4vw;
    }
}